.requerido:after {
    content: " *";
    color: red;
}

.btn-accion-tabla {
    cursor: pointer;
    border: none;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;
}

.width70 {
    width: 70px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

#header_login img {
    width: 90px;
}

#header_login {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 60px -16px teal;
}

#footer_login {
    background: black;
    color: white;
    font-size: 0.6em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#tex_oficce {
    padding-top: 10px;
    color: black;
    font-size: 1.2em;
}

.minh-100 {
    height: 60vh;
}
